[Unit]
Description=Watch file or directory and git commit all changes.

[Service]
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/local/bin/gitwatch -s 60 -m "%H" $SCRIPT_ARGS
ExecStop=/bin/true

[Install]
WantedBy=default.target